#backG {
	background-image: url("../images/office-background.jpg");
	background-size: cover;
	height: 700px;
}
#firstRow {
	width:600px;
	height:650px;
	background-color: white;
	border:10px solid black;
	margin-left: 50px;
	text-align: center;
}
h1 {
	text-align: center;
}
#questionRow {
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}
#choicesRow {
	margin-top: 25px;
	font-size: 24px;
	line-height: 36px;
	text-align: center;

}
#timerRow {
	font-size: 18px;
}
.fontChangeOne {
	font-size: 24px;
	color:red;
}
.fontChangeTwo {
	font-size:32px;
	color:orange;
}
.modifyAnswer {
	color:green;
}
#imageRow {
	margin-top: 50px;
}
#imageRow img {
height:auto;
width:350px;
}
button {
	margin-top: 10px;
}
.frontImage {
	width:50%;
	height:auto;
}
.enderText {
	font-size: 42px;
	line-height: 55px;
	font-weight: bold;
}
.textBigger {
	font-size:32px;
}
.activeAnswer {
	color:red;
	padding:5px;
	background-color: green;
	border: 5px solid black;
}
.choice:hover{
	color:green;
	width:475px;
	height:50px;
	background-color:gray;
	border:2px solid black;
	white-space: nowrap;
	display: inline-block;
}